<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

	<display-name>Spring</display-name>
	
	<!-- TODO 01 configure the ContextLoaderListener -->
	<!-- see file /WEB-INF/applicationContext.xml -->
	

	<servlet>
		<servlet-name>list-users</servlet-name>
		<servlet-class>com.zenika.web.ListUsersServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>list-users</servlet-name>
		<url-pattern>/list-users</url-pattern>
	</servlet-mapping>
	
</web-app>
